name: Entur/Meta/Doc

on:
  workflow_call:
    inputs:
      workflow_file:
        description: Path to the workflow file
        type: string
      readme_file:
        description: Path to the output file
        type: string
      timeout_minutes:
        description: "Job timeout in minutes"
        type: number
        default: 5
jobs:
  update-doc:
    runs-on: ubuntu-24.04
    timeout-minutes: ${{ inputs.timeout_minutes }}
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.ref }}
      - uses: tj-actions/auto-doc@b10ceedffd794ec29a8fa8700529f40c1b64a951 #v3
        with:
          filename: ${{ inputs.workflow_file }}
          reusable: true
          output: ${{ inputs.readme_file }}
          use_code_blocks: true
      - uses: tj-actions/verify-changed-files@a1c6acee9df209257a246f2cc6ae8cb6581c1edf #v20
        id: verify-changed-files
        with:
          files: |
            ${{ inputs.readme_file }}
      - name: Printout changed files
        if: steps.verify-changed-files.outputs.files_changed == 'true'
        env:
          CHANGED_FILES: ${{ steps.verify-changed-files.outputs.changed_files }}
        run: |
          echo "Changed files: $CHANGED_FILES"
      - uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9.1.4
        if: steps.verify-changed-files.outputs.files_changed == 'true'
        with:
          message: "docs: Update workflow documentation"
          add: ${{ inputs.readme_file }}
          pull: "--ff-only"
