name: Entur/Meta/CI

on:
  pull_request:

jobs:
  generate-doc-for-auto-doc:
    uses: ./.github/workflows/auto-doc.yml
    with:
      workflow_file: .github/workflows/auto-doc.yml
      readme_file: README-auto-doc.md
  generate-doc-for-release:
    uses: ./.github/workflows/auto-doc.yml
    with:
      workflow_file: .github/workflows/release.yml
      readme_file: README-release.md
  generate-doc-for-cloud-auth:
    uses: ./.github/workflows/auto-doc.yml
    with:
      workflow_file: .github/actions/cloud-auth/action.yml
      reusable: false
      readme_file: README-cloud-auth.md
  generate-doc-for-docker-auth:
    uses: ./.github/workflows/auto-doc.yml
    with:
      workflow_file: .github/actions/docker-auth/action.yml
      reusable: false
      readme_file: README-docker-auth.md
  generate-doc-for-k8s-auth:
    uses: ./.github/workflows/auto-doc.yml
    with:
      workflow_file: .github/actions/k8s-auth/action.yml
      reusable: false
      readme_file: README-k8s-auth.md

  test-local-actions-gcp:
    runs-on: ubuntu-24.04
    environment: dev
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/cloud-auth
        with:
          environment: dev
          cloud_provider: gcp
          gcp_workload_identity_provider: ${{ vars.WORKLOAD_IDENTITY_PROVIDER }}
          gcp_service_account: ${{ vars.SERVICE_ACCOUNT }}
      - uses: ./.github/actions/k8s-auth
        with:
          environment: dev
          cloud_provider: gcp
      - uses: ./.github/actions/docker-auth
        with:
          environment: dev
          cloud_provider: gcp
          gcp_workload_identity_provider: ${{ vars.CI_WORKLOAD_IDENTITY_PROVIDER }}
          gcp_service_account: ${{ vars.CI_SERVICE_ACCOUNT }}

  test-local-actions-azure:
    runs-on: ubuntu-24.04
    environment: az-dev
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/cloud-auth
        with:
          environment: az-dev
          cloud_provider: az
          azure_client_id: ${{ vars.AZURE_CLIENT_ID }}
          azure_tenant_id: ${{ vars.AZURE_TENANT_ID }}
          azure_subscription_id: ${{ vars.AZURE_SUBSCRIPTION_ID }}
      - uses: ./.github/actions/k8s-auth
        with:
          environment: az-dev
          cloud_provider: az
          azure_cluster_resource_group: ${{ vars.AZURE_CLUSTER_RESOURCE_GROUP }}
          azure_cluster_name: ${{ vars.AZURE_CLUSTER_NAME }}
          azure_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: ./.github/actions/docker-auth
        with:
          environment: az-dev
          cloud_provider: az
          azure_client_id: ${{ vars.AZURE_CLIENT_ID }}
          azure_tenant_id: ${{ vars.AZURE_TENANT_ID }}
          azure_subscription_id: ${{ vars.AZURE_SUBSCRIPTION_ID }}
