name: Entur/Meta/Release

on:
  workflow_call:
    inputs:
      release_type:
        description: "The type of release to create (simple, terraform-module, helm, maven, manifest, etc). If set to 'manifest', you must provide **release-please-config.json** and **.release-please-manifest.json** in the repository's default branch."
        type: string
        required: false
        default: "simple"
      path:
        description: "Path to the release code in the repository (where the CHANGELOG.md will be placed)"
        type: string
        required: false
        default: "."
      target_branch:
        description: "The target branch to release against. Defaults to the repository's default branch."
        type: string
        required: false
        default: ""
      config_file:
        description: "Path to the release-please config in the repository. Defaults to **release-please-config.json**. Must be used together with release_type=manifest for this to have any effect"
        type: string
        required: false
        default: "release-please-config.json"
      manifest_file:
        description: "Path to the release-please versions manifest in the repository. Defaults to **.release-please-manifest.json**. Must be used together with release_type=manifest for this to have any effect"
        type: string
        required: false
        default: ".release-please-manifest.json"
    outputs:
      release_created:
        value: ${{ jobs.release-please.outputs.release_created }}
      tag_name:
        value: ${{ jobs.release-please.outputs.tag_name }}
      version:
        value: ${{ jobs.release-please.outputs.version }}
      body:
        value: ${{ jobs.release-please.outputs.body }}

jobs:
  release-please:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      issues: write
      pull-requests: write
    timeout-minutes: 30
    outputs:
      release_created: ${{ steps.release-output.outputs.releases_created }}
      tag_name: ${{ steps.release-output.outputs.tag_name }}
      version: ${{ steps.release-output.outputs.version }}
      body: ${{ steps.release-output.outputs.body }}
    steps:
      # Checkout the repository
      - name: Checkout repo
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      # Release-Please is set up to handle explicitly '.' instead of './', so we correct the path
      # https://github.com/googleapis/release-please-action/blob/main/src/index.ts#L179
      - id: pre-release
        shell: bash
        env:
          GHA_RELEASE_PATH: ${{ inputs.path }}
        run: |
          if [[ "$GHA_RELEASE_PATH" == "" || "$GHA_RELEASE_PATH" == "./" ]]; then
            echo "path=." >> $GITHUB_OUTPUT
          else
            echo "path=$GHA_RELEASE_PATH" >> $GITHUB_OUTPUT
          fi
      # Run Release-Please
      - id: release
        if: ${{ inputs.release_type != 'manifest' }}
        uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        with:
          release-type: ${{ inputs.release_type }}
          target-branch: ${{ inputs.target_branch }}
          path: ${{ steps.pre-release.outputs.path }}

      - id: release-with-manifest-config
        if: ${{ inputs.release_type == 'manifest' }}
        uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        with:
          target-branch: ${{ inputs.target_branch }}
          config-file: ${{ inputs.config_file }}
          manifest-file: ${{ inputs.manifest_file }}

      # The output keys will differ based on the input path
      # If release type is 'manifest', support getting the release version of the first path released in the manifest (not multiple)
      # https://github.com/googleapis/release-please-action?tab=readme-ov-file#outputs
      - id: release-output
        shell: bash
        env:
          GHA_RELEASE_PATH: ${{ steps.pre-release.outputs.path }}
          RELEASE_TYPE: ${{ inputs.release_type }}
          OUTPUTS_WITH_MANIFEST: ${{ toJSON(steps.release-with-manifest-config.outputs) }}
          OUTPUTS_WITHOUT_MANIFEST: ${{ toJSON(steps.release.outputs) }}
        run: |
          if [[ "$RELEASE_TYPE" == "manifest" ]]; then
            echo "::group::OUTPUTS"
            echo "$OUTPUTS_WITH_MANIFEST"
            echo "::endgroup::"
            # set releases_created
            releases_created=$(echo "$OUTPUTS_WITH_MANIFEST" | jq -r .releases_created)
            paths_released=$(echo "$OUTPUTS_WITH_MANIFEST" | jq -r .paths_released)
            if [[ "$paths_released" != "null" && "$paths_released" != "[]" ]]; then
              first_path=$(echo "$paths_released" | jq -r ".[0]")
              # set $GHA_RELEASE_PATH to first released path
              GHA_RELEASE_PATH="$first_path"
            else
              echo "No releases were created yet"
            fi
          else
            echo "::group::OUTPUTS"
            echo "$OUTPUTS_WITHOUT_MANIFEST"
            echo "::endgroup::"
            releases_created=$(echo "$OUTPUTS_WITHOUT_MANIFEST" | jq -r .releases_created)
          fi
          output_path_prefix=""
          [[ "$GHA_RELEASE_PATH" != "." ]] && output_path_prefix="$GHA_RELEASE_PATH--"
          for key in tag_name version body major minor patch; do
            echo "$key=${output_path_prefix}$key" >> "$GITHUB_OUTPUT"
          done

      # Be explicit in the if check to handle bool confusion (Github Actions foolery)
      - id: tag-versions
        if: ${{ steps.release-output.outputs.releases_created && steps.release-output.outputs.releases_created != 'false' }}
        shell: bash
        env:
          RELEASE_MAJOR: ${{ steps.release-output.outputs.major }}
          RELEASE_MINOR: ${{ steps.release-output.outputs.minor }}
          RELEASE_PATCH: ${{ steps.release-output.outputs.patch }}
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          git tag -d "v$RELEASE_MAJOR" 2>/dev/null || true
          git tag -d "v$RELEASE_MAJOR.$RELEASE_MINOR" 2>/dev/null || true
          git push origin ":v$RELEASE_MAJOR" 2>/dev/null || true
          git push origin ":v$RELEASE_MAJOR.$RELEASE_MINOR" 2>/dev/null || true
          git tag -a "v$RELEASE_MAJOR" -m "chore(release): v$RELEASE_MAJOR"
          git tag -a "v$RELEASE_MAJOR.$RELEASE_MINOR" -m "chore(release): v$RELEASE_MAJOR.$RELEASE_MINOR"
          git push origin "v$RELEASE_MAJOR"
          git push origin "v$RELEASE_MAJOR.$RELEASE_MINOR"
