name: Entur/Meta/Release

on:
  workflow_call:
    inputs:
      release_type:
        description: "The type of release to create (simple, terraform-module, helm, maven, manifest, etc). If set to 'manifest', you must provide **release-please-config.json** and **.release-please-manifest.json** in the repository."
        type: string
        required: false
        default: "simple"
      path:
        description: "Path to the release code in the repository (where the CHANGELOG.md will be placed)"
        type: string
        required: false
        default: "."
      target_branch:
        type: string
        default: "main"
      config_file:
        description: "Path to the release-please config in the repository. Defaults to **release-please-config.json**. Must be used together with release_type=manifest for this to have any effect"
        type: string
        required: false
        default: "release-please-config.json"
      manifest_file:
        description: "Path to the release-please versions manifest in the repository. Defaults to **.release-please-manifest.json**. Must be used together with release_type=manifest for this to have any effect"
        type: string
        required: false
        default: ".release-please-manifest.json"
    outputs:
      release_created:
        value: ${{ jobs.release-please.outputs.release_created }}
      tag_name:
        value: ${{ jobs.release-please.outputs.tag_name }}
      version:
        value: ${{ jobs.release-please.outputs.version }}
      body:
        value: ${{ jobs.release-please.outputs.body }}

jobs:
  release-please:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      issues: write
      pull-requests: write
    timeout-minutes: 30
    outputs:
      release_created: ${{ steps.release.outputs.releases_created }}
      tag_name: ${{ steps.release.outputs[steps.post-release.outputs.tag_name] }}
      version: ${{ steps.release.outputs[steps.post-release.outputs.version] }}
      body: ${{ steps.release.outputs[steps.post-release.outputs.body] }}
    steps:
      # Checkout the repository
      - name: Checkout repo
        uses: actions/checkout@v5
      # Release-Please is set up to handle explicitly '.' instead of './', so we correct the path
      # https://github.com/googleapis/release-please-action/blob/main/src/index.ts#L179
      - id: pre-release
        shell: bash
        env:
          GHA_RELEASE_PATH: ${{ inputs.path }}
        run: |
          if [[ "$GHA_RELEASE_PATH" == "" || "$GHA_RELEASE_PATH" == "./" ]]; then
            echo "path=." >> $GITHUB_OUTPUT
          else
            echo "path=$GHA_RELEASE_PATH" >> $GITHUB_OUTPUT
          fi
      # Run Release-Please
      - id: release
        if: ${{ inputs.release_type != 'manifest' }}
        uses: googleapis/release-please-action@c2a5a2bd6a758a0937f1ddb1e8950609867ed15c # v4.3.0
        with:
          release-type: ${{ inputs.release_type }}
          target-branch: ${{ inputs.target_branch }}
          path: ${{ steps.pre-release.outputs.path }}

      - id: release-with-manifest-config
        if: ${{ inputs.release_type == 'manifest' }}
        uses: googleapis/release-please-action@c2a5a2bd6a758a0937f1ddb1e8950609867ed15c # v4.3.0
        with:
          target-branch: ${{ inputs.target_branch }}
          path: ${{ steps.pre-release.outputs.path }}
          config-file: ${{ inputs.config_file }}
          manifest-file: ${{ inputs.manifest_file }}

      # The output keys will differ based on the input path
      # https://github.com/googleapis/release-please-action?tab=readme-ov-file#outputs
      - id: post-release
        shell: bash
        env:
          GHA_RELEASE_PATH: ${{ steps.pre-release.outputs.path }}
        run: |
          output_path_prefix=""
          [[ "$GHA_RELEASE_PATH" != "." ]] && output_path_prefix="$GHA_RELEASE_PATH--"
          for key in tag_name version body major minor patch; do
            echo "$key=${output_path_prefix}$key" >> "$GITHUB_OUTPUT"
          done
      # Be explicit in the if check to handle bool confusion (Github Actions foolery)
      - id: tag-versions
        if: ${{ steps.release.outputs.releases_created && steps.release.outputs.releases_created != 'false' }}
        shell: bash
        env:
          RELEASE_MAJOR: ${{ steps.release.outputs[steps.post-release.outputs.major] }}
          RELEASE_MINOR: ${{ steps.release.outputs[steps.post-release.outputs.minor] }}
          RELEASE_PATCH: ${{ steps.release.outputs[steps.post-release.outputs.patch] }}
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          git tag -d "v$RELEASE_MAJOR" || true
          git tag -d "v$RELEASE_MAJOR.$RELEASE_MINOR" || true
          git push origin ":v$RELEASE_MAJOR" || true
          git push origin ":v$RELEASE_MAJOR.$RELEASE_MINOR" || true
          git tag -a "v$RELEASE_MAJOR" -m "chore(release): v$RELEASE_MAJOR"
          git tag -a "v$RELEASE_MAJOR.$RELEASE_MINOR" -m "chore(release): v$RELEASE_MAJOR.$RELEASE_MINOR"
          git push origin "v$RELEASE_MAJOR"
          git push origin "v$RELEASE_MAJOR.$RELEASE_MINOR"
